body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 280px;
  min-height: 100vh;
}

@keyframes dotsScale {
  0% {
    transform: scale(1); /* Escala al 0% al inicio */
  }
  50% {
    transform: scale(0.5); /* Escala al 100% al final */
  }
  100% {
    transform: scale(1); /* Escala al 0% al inicio */
  }
}


